<div class="container-fluid landing">
    <section class="head">
        <div class="row">
          <%= image_tag "logo.jpg", class: 'img-responsive' %>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">Expired Box</h3></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">A box without an expired stuffs. <strong><em>CURIOUS??</em></strong></p>
            </div>
        </div>
    </section>
    <section class="problem">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-2 col-md-6 col-md-offset-2 col-sm-8 col-sm-offset-1 col-xs-12">
                <h1>Problems &amp; Solutions</h1></div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-2 col-md-6 col-md-offset-2 col-sm-8 col-sm-offset-1 col-xs-12">
                <h3>Explodable Fridge</h3>
                <h4>Problem </h4>
                <p>We end up adding more and more stuffs into the fridge. One reason is that we don't know what stuffs are already in the fridge.</p>
                <h4>Solution</h4>
                <p>We create an application that allows you to search for anything in your fridge from anywhere.</p>
            </div>
            <div class="col-lg-2 col-lg-push-0 col-md-2 col-md-push-0 col-sm-2 col-sm-push-0 col-xs-6 col-xs-push-6">
              <%= image_tag "full-fridge.png", width: '200px' %>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-2 col-md-6 col-md-offset-2 col-sm-8 col-sm-offset-1 col-xs-12">
                <h3>Expired Stuffs</h3>
                <h4>Problem </h4>
                <p>When there are so many stuffs in the fridge, it is not possible to keep track of what stuffs are about to expire. We end up having many expired products in the fridge and this is a waste of resource.</p>
                <h4>Solution</h4>
                <p>We create an application that show you the list of stuffs that are about to expire. With this feature, you can consume those stuffs first.</p>
            </div>
            <div class="col-lg-2 col-lg-push-0 col-md-2 col-md-push-0 col-sm-2 col-sm-push-0 col-xs-6 col-xs-push-6">
              <%= image_tag "full-fridge.png", width: '200px' %>
            </div>
        </div>
    </section>
    <section class="join-us">
        <div class="row">
            <div class="col-md-12">
              <%= image_tag "logo.jpg", class: 'img-responsive' %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center"> <button class="btn btn-info" type="button">Join Expired Box</button></h3></div>
        </div>        
    </section>
</div>
