<div class="container-fluid landing">
  <section class="head">
    <div class="row">
      <div class="col-md-12">
        <%= image_tag "logo.jpg", class: 'img-responsive' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center">Expired Box Sign Up</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">Please fill the information below.</p>
      </div>
    </div>
  </section>
  <section class="problem">
    <div class="row register-form">
      <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <%= form_tag '/user', method: :post, class: 'form-horizontal custom-form' do %>
          <h1>Join now</h1>
          <div class="form-group">
            <div class="col-sm-4 label-column">
              <label class="control-label" for="name-input-field">Name </label>
            </div>
            <div class="col-sm-6 input-column">
              <input class="form-control" type="text" name="name">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4 label-column">
              <label class="control-label" for="email-input-field">Email </label>
            </div>
            <div class="col-sm-6 input-column">
              <input class="form-control" type="email" name="email">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4 label-column">
              <label class="control-label" for="pawssword-input-field">Password </label>
            </div>
            <div class="col-sm-6 input-column">
              <input class="form-control" type="password" name="password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4 label-column">
              <label class="control-label" for="repeat-pawssword-input-field">Repeat Password </label>
            </div>
            <div class="col-sm-6 input-column">
              <input class="form-control" type="password" name="password_confirmation">
            </div>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="agree">I've read and accept the terms and conditions</label>
          </div>
          <button class="btn btn-default submit-button" type="submit">Join !</button>
        <% end %>
      </div>
    </div>
  </section>
</div>
