.devise-form form.custom-form{
  padding:55px;
  box-sizing:border-box;
  background-color:#ffffff;
  box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.1);
  font:bold 14px sans-serif;
  text-align:center;
  color:#333;
  margin-top:25px;
  margin-bottom:25px;
}

@media (max-width:400px) {
  .devise-form form.custom-form{
    padding:55px 10px;
  }
}

.devise-form .custom-form h1{
  display:inline-block;
  color:#4c565e;
  font-size:24px;
  font-weight:bold;
  padding:0 10px 15px;
  margin-bottom:60px;
  border-bottom:2px solid rgb(108, 174, 224);
}

.devise-form .custom-form .form-group{
  margin-bottom:25px;
}

.devise-form .custom-form .label-column{
  text-align:right;
  color:#5F5F5F;
}

@media (max-width:768px) {
  .devise-form .custom-form .label-column{
    text-align:left;
  }
}

.devise-form .custom-form .input-column{
  color:#5f5f5f;
  text-align:left;
}

.devise-form .custom-form .input-column-plain{
  color:#5f5f5f;
  text-align:left;
}

.devise-form .custom-form .input-column input{
  color:#5f5f5f;
  box-shadow:1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding:12px;
  border:1px solid #dbdbdb;
  border-radius:2px;
  height:42px;
}

.devise-form .custom-form .dropdown .dropdown-toggle{
  background:#fff;
  border:1px solid #dbdbdb;
  box-shadow:1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  color:#333;
  outline:none;
}

.devise-form .custom-form .dropdown ul{
  background:#fff;
}

.devise-form .custom-form .dropdown ul li a{
  background:#fff;
  color:#333;
  opacity:0.8;
}

.devise-form .custom-form .dropdown ul li a:hover{
  opacity:1;
}

.devise-form form.custom-form .btn{
  border-radius:2px;
  font-weight:bold;
  box-shadow:1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  border:0;
  margin-bottom:10px;
  outline:none;
  padding:12px 20px;
}

.devise-form .custom-form .btn.submit-button{
  background:#6caee0;
  color:#ffffff;
}

.devise-form .custom-form .btn.signup-button{
  background:#D4A190;
  color:#ffffff;
}

#error_explanation h2{
  font-size: 22px;
}

#error_explanation ul{
  padding-left: 50px;
}