<!-- Support for both turbolinks, turboboost, and rails template-->

<% if flash[:alert] %>
  <div class="alert alert-dismissible alert-danger">
    <ul>
      <% if flash[:alert].is_a?(String) %>
        <%= content_tag :li, flash[:alert] %>
      <% end %>
      <% if flash[:alert].is_a?(Array)  %>
        <% flash[:alert].each do |msg| %>
          <%= content_tag :li, msg %>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="alert alert-dismissible alert-info">
    <ul>
      <% if flash[:notice].is_a?(String) %>
        <%= content_tag :li, flash[:notice] %>
      <% end %>
      <% if flash[:notice].is_a?(Array)  %>
        <% flash[:notice].each do |msg| %>
          <%= content_tag :li, msg %>
        <% end %>
      <% end %>
    <ul>
  </div>
<% end %>

<div class="flash-turboboost-alert alert alert-dismissible alert-danger">
  <ul class="inject"></ul>
</div>

<div class="flash-turboboost-notice alert alert-dismissible alert-info">
  <ul class="inject"></ul>
</div>
