<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <div class="modal-body">
      <div class="loading">
        <%= image_tag "loading.gif" %>
        <h5>Loading</h5>
      </div>
    </div>
  </div>
</div>
